<!DOCTYPE suite SYSTEM
"https://testng.org/testng-1.0.dtd">

<suite name="ParaBank Suite">

      <listeners>

        <!-- Retry Listener -->
        <listener
            class-name="listeners.RetryListener"/>

        <!-- Extent Report Listener -->
        <listener
            class-name="listeners.TestListener"/>

    </listeners>
    <test name="Login Tests">

        <classes>
        

            <!-- Login tests (data-driven) -->
            <class name="tests.LoginTest"/>

            <!-- Accounts Overview test depends on a successful login -->
            <class name="tests.AccountsOverviewTest"/>

            <!-- Funds Transfer tests -->
            <class name="tests.FundsTransferTest"/>

        </classes>

    </test>

</suite>